<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pageList</key>
	<array>
		<dict>
			<key>title</key>
			<string>封面</string>
			<key>pic</key>
			<string>page_cover.png</string>
			<key>mapButtons</key>
			<array>
				<dict>
					<key>tpk</key>
					<string>province_lvl1.tpk</string>
					<key>zoomToScale</key>
					<real>4321333.6</real>
					<key>graphicSymbol</key>
					<string>graphicSymbol01.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>5000</integer>
						<key>y</key>
						<integer>5000</integer>
						<key>width</key>
						<integer>393</integer>
						<key>height</key>
						<integer>326</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>浙江省水库概况</string>
			<key>pic</key>
			<string>page_001.png</string>
			<key>customButtons</key>
			<array>
				<dict>
					<key>image</key>
					<string>page01_02.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>386</integer>
						<key>y</key>
						<integer>727</integer>
						<key>width</key>
						<integer>338</integer>
						<key>height</key>
						<integer>216</integer>
					</dict>
				</dict>
				<dict>
					<key>image</key>
					<string>page01_01.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>48</integer>
						<key>y</key>
						<integer>731</integer>
						<key>width</key>
						<integer>311</integer>
						<key>height</key>
						<integer>216</integer>
					</dict>
				</dict>
			</array>
			<key>mapButtons</key>
			<array>
				<dict>
					<key>tpk</key>
					<string>province_lvl1.tpk</string>
					<key>zoomToScale</key>
					<real>4321333.6</real>
					<key>centerPoint</key>
					<dict>
						<key>x</key>
						<real>120.55</real>
						<key>y</key>
						<real>29.18</real>
					</dict>
					<key>graphicSymbol</key>
					<string>graphicSymbol01.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>39</integer>
						<key>y</key>
						<integer>169</integer>
						<key>width</key>
						<integer>393</integer>
						<key>height</key>
						<integer>326</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>浙江省水库详情</string>
			<key>pic</key>
			<string>page_002.png</string>
			<key>customButtons</key>
			<array>
				<dict>
					<key>image</key>
					<string>page02_01.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>291</integer>
						<key>y</key>
						<integer>686</integer>
						<key>width</key>
						<integer>447</integer>
						<key>height</key>
						<integer>273</integer>
					</dict>
				</dict>
			</array>
			<key>mapButtons</key>
			<array>
				<dict>
					<key>tpk</key>
					<string>province_lvl2.tpk</string>
					<key>zoomToScale</key>
					<integer>1328586</integer>
					<key>centerPoint</key>
					<dict>
						<key>x</key>
						<real>120.18</real>
						<key>y</key>
						<real>30.31</real>
					</dict>
					<key>graphicSymbol</key>
					<string>graphicSymbol01.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>299</integer>
						<key>y</key>
						<integer>142</integer>
						<key>width</key>
						<integer>435</integer>
						<key>height</key>
						<integer>346</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>金华市水库概况</string>
			<key>pic</key>
			<string>page_003.png</string>
			<key>customButtons</key>
			<array>
				<dict>
					<key>image</key>
					<string>page03_01.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>43</integer>
						<key>y</key>
						<integer>826</integer>
						<key>width</key>
						<integer>238</integer>
						<key>height</key>
						<integer>136</integer>
					</dict>
				</dict>
				<dict>
					<key>image</key>
					<string>page03_02.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>295</integer>
						<key>y</key>
						<integer>618</integer>
						<key>width</key>
						<integer>443</integer>
						<key>height</key>
						<integer>335</integer>
					</dict>
				</dict>
			</array>
			<key>mapButtons</key>
			<array>
				<dict>
					<key>tpk</key>
					<string>jinhua_lvl1_V.tpk</string>
					<key>zoomToScale</key>
					<integer>1288277</integer>
					<key>centerPoint</key>
					<dict>
						<key>x</key>
						<real>119.98</real>
						<key>y</key>
						<real>29.21</real>
					</dict>
					<key>graphicSymbol</key>
					<string>graphicSymbol01.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>34</integer>
						<key>y</key>
						<integer>169</integer>
						<key>width</key>
						<integer>464</integer>
						<key>height</key>
						<integer>381</integer>
					</dict>
				</dict>
				<dict>
					<key>tpk</key>
					<string>jinhua_lvl1_R.tpk</string>
					<key>zoomToScale</key>
					<real>1</real>
					<key>centerPoint</key>
					<dict>
						<key>x</key>
						<real>119.98</real>
						<key>y</key>
						<real>29.21</real>
					</dict>
					<key>graphicSymbol</key>
					<string>graphicSymbol01.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>40</integer>
						<key>y</key>
						<integer>617</integer>
						<key>width</key>
						<integer>237</integer>
						<key>height</key>
						<integer>194</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>金华市水库详情</string>
			<key>pic</key>
			<string>page_004.png</string>
			<key>customButtons</key>
			<array>
				<dict>
					<key>image</key>
					<string>page04_01.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>511</integer>
						<key>y</key>
						<integer>341</integer>
						<key>width</key>
						<integer>219</integer>
						<key>height</key>
						<integer>183</integer>
					</dict>
				</dict>
				<dict>
					<key>image</key>
					<string>page04_02.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>41</integer>
						<key>y</key>
						<integer>540</integer>
						<key>width</key>
						<integer>298</integer>
						<key>height</key>
						<integer>208</integer>
					</dict>
				</dict>
				<dict>
					<key>image</key>
					<string>page04_03.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>356</integer>
						<key>y</key>
						<integer>539</integer>
						<key>width</key>
						<integer>378</integer>
						<key>height</key>
						<integer>209</integer>
					</dict>
				</dict>
			</array>
			<key>mapButtons</key>
			<array>
				<dict>
					<key>tpk</key>
					<string>jinhua_lvl2_V.tpk</string>
					<key>zoomToScale</key>
					<integer>260437</integer>
					<key>centerPoint</key>
					<dict>
						<key>x</key>
						<real>119.64</real>
						<key>y</key>
						<real>29.1</real>
					</dict>
					<key>graphicSymbol</key>
					<string>graphicSymbol01.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>38</integer>
						<key>y</key>
						<integer>145</integer>
						<key>width</key>
						<integer>461</integer>
						<key>height</key>
						<integer>380</integer>
					</dict>
				</dict>
				<dict>
					<key>tpk</key>
					<string>jinhua_lvl2_R.tpk</string>
					<key>zoomToScale</key>
					<integer>260437</integer>
					<key>centerPoint</key>
					<dict>
						<key>x</key>
						<real>119.64</real>
						<key>y</key>
						<real>29.1</real>
					</dict>
					<key>graphicSymbol</key>
					<string>graphicSymbol01.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>510</integer>
						<key>y</key>
						<integer>145</integer>
						<key>width</key>
						<integer>221</integer>
						<key>height</key>
						<integer>183</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>义乌市水库概况</string>
			<key>pic</key>
			<string>page_005.png</string>
			<key>mapButtons</key>
			<array>
				<dict>
					<key>tpk</key>
					<string>yiwu_lvl1_V.tpk</string>
					<key>zoomToScale</key>
					<integer>371642</integer>
					<key>centerPoint</key>
					<dict>
						<key>x</key>
						<real>120.05</real>
						<key>y</key>
						<real>29.29</real>
					</dict>
					<key>graphicSymbol</key>
					<string>graphicSymbol01.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>42</integer>
						<key>y</key>
						<integer>164</integer>
						<key>width</key>
						<integer>423</integer>
						<key>height</key>
						<integer>555</integer>
					</dict>
				</dict>
				<dict>
					<key>tpk</key>
					<string>yiwu_lvl1_R.tpk</string>
					<key>zoomToScale</key>
					<integer>303047</integer>
					<key>centerPoint</key>
					<dict>
						<key>x</key>
						<real>120.05</real>
						<key>y</key>
						<real>29.29</real>
					</dict>
					<key>graphicSymbol</key>
					<string>graphicSymbol01.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>472</integer>
						<key>y</key>
						<integer>383</integer>
						<key>width</key>
						<integer>257</integer>
						<key>height</key>
						<integer>335</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>义乌市水库详情</string>
			<key>pic</key>
			<string>page_006.png</string>
			<key>customButtons</key>
			<array>
				<dict>
					<key>image</key>
					<string>page06_01.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>43</integer>
						<key>y</key>
						<integer>749</integer>
						<key>width</key>
						<integer>334</integer>
						<key>height</key>
						<integer>213</integer>
					</dict>
				</dict>
				<dict>
					<key>image</key>
					<string>page06_02.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>396</integer>
						<key>y</key>
						<integer>751</integer>
						<key>width</key>
						<integer>333</integer>
						<key>height</key>
						<integer>209</integer>
					</dict>
				</dict>
			</array>
			<key>mapButtons</key>
			<array>
				<dict>
					<key>tpk</key>
					<string>yiwu_lvl2_V.tpk</string>
					<key>zoomToScale</key>
					<integer>99169</integer>
					<key>centerPoint</key>
					<dict>
						<key>x</key>
						<real>120.07</real>
						<key>y</key>
						<real>29.32</real>
					</dict>
					<key>graphicSymbol</key>
					<string>graphicSymbol01.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>268</integer>
						<key>y</key>
						<integer>145</integer>
						<key>width</key>
						<integer>459</integer>
						<key>height</key>
						<integer>598</integer>
					</dict>
				</dict>
				<dict>
					<key>tpk</key>
					<string>yiwu_lvl2_R.tpk</string>
					<key>zoomToScale</key>
					<integer>99169</integer>
					<key>centerPoint</key>
					<dict>
						<key>x</key>
						<real>120.07</real>
						<key>y</key>
						<real>29.32</real>
					</dict>
					<key>graphicSymbol</key>
					<string>graphicSymbol01.png</string>
					<key>frame</key>
					<dict>
						<key>x</key>
						<integer>41</integer>
						<key>y</key>
						<integer>145</integer>
						<key>width</key>
						<integer>219</integer>
						<key>height</key>
						<integer>291</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
